name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 0

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get update && sudo apt-get install -y --no-install-recommends binfmt-support qemu-user-static
      - run: ./build.sh
      - run: ./test.sh gosu-amd64
      - run: ./test.sh gosu-i386
      - run: ./test.sh --debian gosu-amd64
      - run: ./test.sh --debian gosu-i386
      - run: docker build --pull --file hub/Dockerfile.alpine hub
      - run: docker build --pull --file hub/Dockerfile.debian hub

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      # https://github.com/golang/vuln/commits/master
      # https://github.com/golang/vuln/releases
      - run: go install golang.org/x/vuln/cmd/govulncheck@d3666e3e8dbbcb0748a371d2ff17f4da36a158f4
      # (update "go-version" above when updating this version)

      - run: for gosu in gosu-*; do govulncheck -mode=binary "$gosu"; done
